APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://127.0.0.1:8000
MOBILE_API_KEY=

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=
ADMIN_PANEL_DB_CONNECTION=mysql
ADMIN_PANEL_DB_HOST=127.0.0.1
ADMIN_PANEL_DB_PORT=3306
ADMIN_PANEL_DB_DATABASE=admin-backend
ADMIN_PANEL_DB_USERNAME=root
ADMIN_PANEL_DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
BROADCAST_DRIVER=log
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_VERIFY_SSL=true
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
STRIPE_VERIFICATION_PRODUCT_ID=
STRIPE_VERIFICATION_PRICE_ID=
STRIPE_BG_VERIFICATION_PRODUCT_ID=
STRIPE_BG_VERIFICATION_PRICE_ID=
STRIPE_BG_VERIFICATION_WITH_DRIVING_PRODUCT_ID=
STRIPE_BG_VERIFICATION_WITH_DRIVING_PRICE_ID=
STRIPE_FAMILY_SUBSCRIPTION_PRODUCT_ID=
STRIPE_FAMILY_SUBSCRIPTION_PRICE_ID=
STRIPE_DESTINATION_ID=
GHL_BASE_URL=https://services.leadconnectorhq.com
GHL_API_VERSION=2021-07-28
GHL_VERIFY_SSL=true
GHL_LOCATION_ID=
GHL_API_TOKEN=

TAZ_ENV=live
TAZ_BASE_URL=
TAZ_API_TOKEN=
TAZ_JWT=
TAZ_WEBHOOK_SECRET=
TAZ_LIVE_BASE_URL=https://api.instascreen.net
TAZ_LIVE_API_TOKEN=
TAZ_LIVE_JWT=
TAZ_LIVE_WEBHOOK_SECRET=
TAZ_LIVE_CLIENT_GUID=
TAZ_LIVE_PRODUCT_GUID=
TAZ_LIVE_PRODUCT_GUID_EMPLOYMENT=
TAZ_LIVE_MVR_PRODUCT_GUID=
TAZ_LIVE_PRODUCT_GUID_MVR=
TAZ_LIVE_PRODUCT_GUID_MVR_EMPLOYMENT=
TAZ_SANDBOX_BASE_URL=https://api-sandbox.instascreen.net
TAZ_SANDBOX_API_TOKEN=
TAZ_SANDBOX_JWT=
TAZ_SANDBOX_WEBHOOK_SECRET=
TAZ_SANDBOX_CLIENT_GUID=
TAZ_SANDBOX_PRODUCT_GUID=
TAZ_SANDBOX_PRODUCT_GUID_EMPLOYMENT=
TAZ_SANDBOX_MVR_PRODUCT_GUID=
TAZ_SANDBOX_PRODUCT_GUID_MVR=
TAZ_SANDBOX_PRODUCT_GUID_MVR_EMPLOYMENT=
TAZ_CLIENT_GUID=
TAZ_PRODUCT_GUID=
TAZ_PRODUCT_GUID_EMPLOYMENT=
TAZ_MVR_PRODUCT_GUID=
TAZ_PRODUCT_GUID_MVR=
TAZ_PRODUCT_GUID_MVR_EMPLOYMENT=
TAZ_PRODUCTS_PATH=/v1/clients/{client_guid}/products
TAZ_CREATE_ORDER_PATH=/v1/clients/{client_guid}/orders
TAZ_STATUS_PATH=/v1/orders/{order_guid}
TAZ_REGENERATE_LINK_PATH=/v1/orders/{order_guid}/regenerate-link
TAZ_VERIFY_SSL=true
