VITE_ADMIN_API_PORT=8001
VITE_ADMIN_API_BASE_URL=https://syttr-admin.zyronexlab.com
VITE_ADMIN_ASSET_BASE_URL=https://admin-syttr.zyronexlab.com
VITE_ADMIN_API_KEY=change-me-admin-api-key
VITE_ADMIN_API_KEY_HEADER=X-ADMIN-API-KEY
